.app-sys-appinstaller-icon
{
  background: url(image-path('App/Sys/AppInstaller/Icon', 'png')) no-repeat;
}
.app-sys-appinstaller-widget-entry-icon
{
  background: url(image-path('App/Sys/AppInstaller/Icon', 'png')) no-repeat;
}
.app-sys-appinstaller-widget-permresmgr-icon
{
  background: url(image-path('App/Sys/AppInstaller/Widget/PermResMgr', 'png')) no-repeat;
}