.app-zhuchao-usercenter-icon
{
  background: url(image-path('App/ZhuChao/UserCenter/Icon', 'png')) no-repeat;
}
.app-zhuchao-usercenter-widget-entry-icon
{
  background: url(image-path('App/ZhuChao/UserCenter/Icon', 'png')) no-repeat;
}
.app-zhuchao-usercenter-widget-normal-icon
{
  background: url(image-path('App/ZhuChao/UserCenter/Widget/Normal', 'png')) no-repeat;
}
.app-zhuchao-usercenter-widget-decorator-icon
{
  background: url(image-path('App/ZhuChao/UserCenter/Widget/Decorator', 'png')) no-repeat;
}
.app-zhuchao-usercenter-widget-designer-icon
{
  background: url(image-path('App/ZhuChao/UserCenter/Widget/Designer', 'png')) no-repeat;
}
.app-zhuchao-usercenter-widget-foreman-icon
{
  background: url(image-path('App/ZhuChao/UserCenter/Widget/Foreman', 'png')) no-repeat;
}
.app-zhuchao-usercenter-widget-project-icon
{
  background: url(image-path('App/ZhuChao/UserCenter/Widget/Project', 'png')) no-repeat;
}
.app-zhuchao-usercenter-widget-designscheme-icon
{
  background: url(image-path('App/ZhuChao/UserCenter/Widget/DesignScheme', 'png')) no-repeat;
}