.app-sys-kelecloud-icon
{
  background: url(image-path('App/Sys/KeleCloud/Icon', 'png')) no-repeat;
}
.app-sys-kelecloud-widget-entry-icon
{
  background: url(image-path('App/Sys/KeleCloud/Icon', 'png')) no-repeat;
}
.app-sys-kelecloud-widget-packagerepo-icon
{
  background: url(image-path('App/Sys/KeleCloud/Widget/PackageRepo', 'png')) no-repeat;
}
.app-sys-kelecloud-widget-sitemgr-icon
{
  background: url(image-path('App/Sys/KeleCloud/Widget/SiteMgr', 'png')) no-repeat;
}
.app-sys-kelecloud-widget-servermgr-icon
{
  background: url(image-path('App/Sys/KeleCloud/Widget/ServerMgr', 'png')) no-repeat;
}
.app-sys-kelecloud-widget-versionmgr-icon
{
  background: url(image-path('App/Sys/KeleCloud/Widget/VersionMgr', 'png')) no-repeat;
}
