.app-sys-setting-icon
{
  background: url(image-path('App/Sys/Setting/Icon', 'png')) no-repeat;
}
.app-sys-setting-widget-entry-icon
{
  background: url(image-path('App/Sys/Setting/Icon', 'png')) no-repeat;
}
.app-sys-setting-widget-wallpaper-icon
{
  background: url(image-path('App/Sys/Setting/Widget/WallPaper', 'png')) no-repeat;
}
.app-sys-setting-widget-versioninfo-icon
{
  background: url(image-path('App/Sys/Setting/Widget/VersionInfo', 'png')) no-repeat;
}
.app-sys-setting-widget-sysupgrade-icon
{
  background: url(image-path('App/Sys/Setting/Widget/SysUpgrade', 'png')) no-repeat;
}
.app-sys-setting-widget-upgrademetainfo-icon
{
  background: url(image-path('App/Sys/Setting/Widget/UpgradeMetaInfo', 'png')) no-repeat;
}
.app-sys-setting-widget-upgradecloudcontroller-icon
{
  background: url(image-path('App/Sys/Setting/Widget/UpgradeCloudController', 'png')) no-repeat;
}
.app-sys-setting-widget-upgradeupgrademgrmaster-icon
{
  background: url(image-path('App/Sys/Setting/Widget/UpgradeUpgradeMgrMaster', 'png')) no-repeat;
}
.app-sys-setting-widget-upgradeupgrademgrslave-icon
{
  background: url(image-path('App/Sys/Setting/Widget/UpgradeUpgradeMgrSlave', 'png')) no-repeat;
}
.app-sys-setting-widget-servermgr-icon
{
  background: url(image-path('App/Sys/Setting/Widget/ServerMgr', 'png')) no-repeat;
}
