.app-site-category-icon
{
  background: url(image-path('App/Site/Category/Icon', 'png')) no-repeat;
}
.app-site-category-widget-entry-icon
{
  background: url(image-path('App/Site/Category/Icon', 'png')) no-repeat;
}
.app-site-category-widget-structure-icon
{
  background: url(image-path('App/Site/Category/Widget/Structure', 'png')) no-repeat;
}
.app-site-category-widget-sorter-icon
{
  background: url(image-path('App/Site/Category/Widget/Sorter', 'png')) no-repeat;
}
.app-site-category-ui-startup-wrapper
{
  padding-top: 5px;
  width : 100%;
  height : 100%;
}
.app-site-category-ui-startup-title
{
  text-align : left;
  height : 30px;
  line-height: 30px;
  font-size: 17px;
  font-family: 微软雅黑,黑体,宋体,tahoma,arial,verdana,sans-serif;
  font-weight: bold;
  margin-left: 10px;
  border-bottom: 1px solid #005675;
  color : #005675
}
.app-site-category-ui-startup-wrapper ul{
  padding : 10px;
}
.app-site-category-ui-startup-wrapper li{
  line-height : 30px;
  margin-bottom: 5px;
  list-style-type: none
}
.app-site-category-ui-startup-wrapper span{
  color : #005675;
  font-weight: bold;
}

.app-site-category-general-type-icon
{
  background: url(image-path('App/Site/Category/Node', 'gif')) no-repeat!important;
  background-position: center center!important;
}

.app-site-category-single-type-icon
{
  background: url(image-path('App/Site/Category/Single', 'gif')) no-repeat;
  background-position: center center;
}
.app-site-category-link-type-icon
{
  background: url(image-path('App/Site/Category/Link', 'gif')) no-repeat;
  background-position: center center;
}