.app-site-setting-icon
{
  background: url(image-path('App/Site/Setting/Icon', 'png')) no-repeat;
}
.app-site-setting-widget-entry-icon
{
  background: url(image-path('App/Site/Setting/Icon', 'png')) no-repeat;
}
.app-site-setting-widget-siteinfo-icon
{
  background: url(image-path('App/Site/Setting/Widget/BasicInfo', 'png')) no-repeat;
}