.app-site-customform-icon
{
  background: url(image-path('App/Site/CustomForm/Icon', 'png')) no-repeat;
}
.app-site-customform-widget-entry-icon
{
  background: url(image-path('App/Site/CustomForm/Icon', 'png')) no-repeat;
}

.app-site-customform-image-over-item
{
  background-color: #efefef;
}
.app-site-customform-icon-wrap
{
  float: left;
  padding: 5px;
  cursor: pointer;
  height: 140px;
}

.app-site-customform-icon-wrap img{
  display : block;
  margin:0 auto;
}
.app-site-customform-icon-wrap span {
  display: block;
  overflow: hidden;
  text-align: center;
  font: normal 12px tahoma,arial,verdana,sans-serif,宋体,微软雅黑;
  text-decoration: none;
  color:#4c4c4c;
  width : 100px;
  word-wrap: break-word;
}
.app-site-customform-image-selected-item
{
  border : 1px solid #3892D3;
  padding : 4px;
}