.webos-start-btn-account-icon
{
  background:  url(image-path("Os/Menu/Sys/account", "png")) no-repeat;
  background-size: 24px 24px;
}
.webos-start-btn-about-CloudController-icon
{
  background:  url(image-path("Os/Menu/Sys/about-kele", "png")) no-repeat;
  background-size: 24px 24px;
}
.webos-start-btn-appstore-icon
{
  background:  url(image-path("Os/Menu/Sys/appstore", "png")) no-repeat;
  background-size: 24px 24px;
}
.webos-start-btn-help-icon
{
  background:  url(image-path("Os/Menu/Sys/help", "png")) no-repeat;
  background-size: 24px 24px;
}
.webos-start-btn-modify-pwd-icon
{
  background:  url(image-path("Os/Menu/Sys/modify-pwd", "png")) no-repeat;
  background-size: 24px 24px;
}

.webos-start-btn-setting-icon
{
  background:  url(image-path("Os/Menu/Sys/setting", "png")) no-repeat;
  background-size: 24px 24px;
}
.webos-start-btn-logout-icon
{
  background:  url(image-path("Os/Menu/Sys/logout", "png")) no-repeat;
  background-size: 24px 24px;
}
.webos-status-bar-logo-btn-icon
{
  width: 120px !important;
  background:  url(image-path("Os/logo", "png")) no-repeat;
}
.webos-status-bar-logo-btn-icon-click
{
  width: 120px !important;
  background:  url(image-path("Os/logo-click", "png")) no-repeat;
}