.app-zhuchao-marketmgr-icon
{
  background: url(image-path('App/ZhuChao/MarketMgr/Icon', 'png')) no-repeat;
}
.app-zhuchao-marketmgr-widget-entry-icon
{
    background: url(image-path('App/ZhuChao/MarketMgr/Icon', 'png')) no-repeat;
}
.app-zhuchao-marketmgr-widget-sellersign-icon
{
  background: url(image-path('App/ZhuChao/MarketMgr/Widget/SellerSign', 'png')) no-repeat;
}
.app-zhuchao-marketmgr-widget-useraskfor-icon
{
    background: url(image-path('App/ZhuChao/MarketMgr/Widget/AskforUser', 'png')) no-repeat;
}
.app-zhuchao-marketmgr-widget-adsmgr-icon
{
    background: url(image-path('App/ZhuChao/MarketMgr/Widget/AdsMgr', 'png')) no-repeat;
}
.app-zhuchao-marketmgr-widget-giftmanager-icon
{
  background: url(image-path('App/ZhuChao/MarketMgr/Widget/GiftManager', 'png')) no-repeat;
}
.app-zhuchao-marketmgr-widget-preferact-icon
{
    background: url(image-path('App/ZhuChao/MarketMgr/Widget/PreferAct', 'png')) no-repeat;
}
