.app-zhuchao-metainfo-icon
{
  background: url(image-path('App/ZhuChao/MetaInfo/Icon', 'png')) no-repeat;
}
.app-zhuchao-metainfo-widget-entry-icon
{
  background: url(image-path('App/ZhuChao/MetaInfo/Icon', 'png')) no-repeat;
}
.app-zhuchao-metainfo-widget-trademark-icon
{
  background: url(image-path('App/ZhuChao/MetaInfo/Widget/Trademark', 'png')) no-repeat;
}