.app-sys-zhuchao-icon
{
  background: url(image-path('App/Sys/ZhuChao/Icon', 'png')) no-repeat;
}
.app-sys-zhuchao-widget-entry-icon
{
  background: url(image-path('App/Sys/ZhuChao/Icon', 'png')) no-repeat;
}
.app-sys-zhuchao-widget-servermgr-icon
{
  background: url(image-path('App/Sys/ZhuChao/Widget/ServerMgr', 'png')) no-repeat;
}
.app-sys-zhuchao-widget-packagerepo-icon
{
  background: url(image-path('App/Sys/ZhuChao/Widget/PackageRepo', 'png')) no-repeat;
}
.app-sys-zhuchao-widget-newdeploy-icon
{
  background: url(image-path('App/Sys/ZhuChao/Widget/NewDeploy', 'png')) no-repeat;
}
.app-sys-zhuchao-widget-upgradedeploy-icon
{
  background: url(image-path('App/Sys/ZhuChao/Widget/UpgradeDeploy', 'png')) no-repeat;
}