.app-sys-searcher-icon
{
  background: url(image-path('App/Sys/Searcher/Icon', 'png')) no-repeat;
}
.app-sys-searcher-widget-entry-icon
{
  background: url(image-path('App/Sys/Searcher/Icon', 'png')) no-repeat;
}
.app-sys-searcher-widget-indexbuilder-icon
{
  background: url(image-path('App/Sys/Searcher/Widget/IndexBuilder', 'png')) no-repeat;
}
.app-sys-searcher-widget-goodsindex-icon
{
  background: url(image-path('App/Sys/Searcher/Widget/GoodsIndex', 'png')) no-repeat;
}
.app-sys-searcher-widget-ginfosindex-icon
{
  background: url(image-path('App/Sys/Searcher/Widget/GInfosIndex', 'png')) no-repeat;
}